target/

### Frontend build (frontend-maven-plugin) ###
frontend/node/
frontend/node_modules/
frontend/dist/
frontend/dist-demo/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/